# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Alembic cache
alembic/__pycache__/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite (si alguna vez usas)
*.db

# Coverage
.coverage
htmlcov/